/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
div {
  color: white;
}

header { /* en esa parte estoy dejand esatico la barra que contiene el menu*/
  position: fixed;
  background-color: white;
  width: 100%;
  /*border: solid black 1px; este lo ocupe para guiarme y saber que estaba moviendo */
  top: 0;
  padding: 10px
}

 .logo {
   float: right;
   width: 5%;
 }

.menu {
  padding-top: 20px;
  margin:  25px;
  width: 100px;
  line-height: 50px;
  font-weight: bold;
}

#first_page {
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
  padding-top: 30px;

}

.one-prhase{
  font-size: 15px;
  line-height: 5;
}

.two-prhase {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 0px;
}

.tree-prhase {
  margin: 0px;
  font-size: 15px;
  font-weight: lighter;
  padding-bottom: 80px;

}

.button {
  background: #2ECC71;
  padding: 15px 27px;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}

#second_page  {
  background-color:#F17C72;
  text-align: center;
}

#second_page h2 {
  padding-top: 50px;
  font-size: 25px;
}

footer {
  background-color: #373B47;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
